<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem id="menu_companycar_root"
              name="Company Cars"
              sequence="0"/>

    <menuitem id="menu_car_master"
              name="Car Details"
              parent="menu_companycar_root"
              sequence="0"/>

    <menuitem id="menu_assignment_master"
              name="Assignments"
              parent="menu_companycar_root"
              sequence="20"/>

        <menuitem id="menu_employee_master"
              name="Employees"
              parent="menu_companycar_root"
              sequence="20"/>

</odoo>